.nav-list{
    display:flex;
    flex-direction:column;
    gap:var(--padding-m);
    width:100%;
    border-top:1px solid var(--color-primary-fg);
    padding-top:var(--padding-l);
}

@media (min-width: 48em){
    .nav-list{
        border-top:none;
        padding-top:0;
    }
}
