.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 10px 40px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  border-radius: 25px;
  width: 100%;
  max-width: 1200px;
  position: relative;
}

.logo {
  display: flex;
  align-items: center;
}

.nav-links {
  display: flex;
  gap: 40px;
}

.nav-links a {
  color: #2874f0;
  text-decoration: none;
  font-size: 16px;
}

.burger-menu {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.burger-menu div {
  width: 25px;
  height: 3px;
  background-color: #2874f0;
  margin: 3px;
  transition: 0.4s;
}

.nav-links-mobile {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 60px;
  left: 40px;
  right: 40px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 5px 0;
}

.nav-links-mobile a {
  padding: 10px;
  border-bottom: 1px solid #f0f0f0;
  color: #2874f0;
  list-style: none;
  text-decoration: none;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background-image: url();
  background: linear-gradient(180deg, rgba(0, 111, 245, 1) 0%, rgba(121, 135, 151, 1) 100%);
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  z-index: 1000;
}

.sidebar a {
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
  }
  .burger-menu {
    display: flex;
  }
}

.change .bar1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
